.sound-wave {
    width: 200px;
    height: 50px;
    display: block;
    margin: 0 auto;
}

.recorder-box{
    .btn{
        font-weight: 500;
        margin:1rem;
    }
    .icon{
        color: inherit !important;
        font-size: 1.1rem;
    }
}