.conversations{

  .conversation-wrap
  {
      box-shadow: -2px 0 3px #ddd;
      padding:0;
      max-height: 400px;
      overflow: auto;
  }
  .conversation
  {
      padding:5px;
      border-bottom:1px solid #ccc;
      margin:0;

  }
  .messages{
    min-height: calc(100% - 220px);
    max-height: calc(100% - 220px);
   }
  .message-wrap
  {
      box-shadow: 0 0 3px #ddd;
      padding:0;

  }
  .msg
  {
      padding:5px;
      margin-top:10px;
      margin-bottom: 10px;
  }
  .msg-wrap
  {
      padding:10px;
      max-height: 400px;
      overflow: auto;

  }

  .time
  {
      color:#A0A0B5;
      font-size:0.7em;
      font-weight:500;
      margin-right:15px;
  }

  .send-wrap
  {
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;
      padding:10px;
      /*background: #f8f8f8;*/
  }

  .send-message
  {
      resize: none;
      font-weight: 500;
  }

  .highlight
  {
      background-color: #f7f7f9;
      border: 1px solid #e1e1e8;
  }

  .send-message-btn
  {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 0;

      border-bottom-right-radius: 0;
  }
  .btn-panel
  {
      background: #f7f7f9;
  }

  .btn-panel .btn
  {
      color:#b8b8b8;

      transition: 0.2s all ease-in-out;
  }

  .btn-panel .btn:hover
  {
      color:#666;
      background: #f8f8f8;
  }
  .btn-panel .btn:active
  {
      background: #f8f8f8;
      box-shadow: 0 0 1px #ddd;
  }

  .btn-panel-conversation .btn,.btn-panel-msg .btn
  {

      background: #f8f8f8;
  }
  .btn-panel-conversation .btn:first-child
  {
      border-right: 1px solid #ddd;
  }

  .msg-wrap .media-heading
  {
      color:#764095;
      font-weight: 500;
      font-size: 1em
  }


  .msg-date
  {
      background: none;
      text-align: center;
      color:#aaa;
      border:none;
      box-shadow: none;
      border-bottom: 1px solid #ddd;
  }


  body::-webkit-scrollbar {
      width: 12px;
  }

  
  /* Let's get this party started */
  ::-webkit-scrollbar {
      width: 6px;
  }
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
      background:#ddd; 
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
      box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  }
  ::-webkit-scrollbar-thumb:window-inactive {
      background-color: #ddd; 
  }
  .msg-text{
      font-size: 0.9em;
      font-weight: 500;
      color: #737373;
  }
}
.frame {
  height: 500px;
}
@media screen and (max-width: 360px) {
  #frame {
    width: 100%;
    height: 100vh;
  }
}
.empty-msg{
    font-weight: 500;
    font-size:1.5rem;
    margin-top:10%;
}