.registration-tos{
    height: 60vh; 
    overflow: auto; 
    padding: 10px;
}
.form-design{
    margin-top: 25px;
    margin-bottom: 25px;
    border: 0px;
    padding: 25px;
    
}

.register-page .grey-text {
    color: #46abd6;
    font-weight: 400;
    font-size: 17px;
}

.register-page .grey-text a i{
    color: #764098;
    font-size: 18px;
}