.frame{
    height:75vh;
}
.chats{
    
    .message-input{
        border-bottom: 1px solid #ccc !important;
    }
}
.chat{
    .purple-background{
        background-color: #965CB8;
        color:#fff;
        padding:1rem;
        padding-left: 30px;
    }
    .timer-div{
        font-weight: 500;
        width: 100px;
        height: 28px;
        text-align: center;
        border-radius: 5px;
        background-color: #884faa;
        padding:0px;
        margin:0px;
    }
    .cancel-div{
        background: red;
        padding-top:2px;
        height: 28px;
        text-align: center;
        border-radius: 5px;
        margin-left: 0.5rem;
        .icon{
            padding: 0;
            font-size: 2em;
            vertical-align: bottom;
        }
    }
    .profile-name{
        padding-bottom: 4px;
        font-weight: 300;
        -ms-flex-item-align: start;
        align-self: flex-start;
        font-size: 1.6rem;
        letter-spacing: 1px;
        width: 100%;
        float: left;
    }
    .timer-section{
        float: left;
        width: 100%;
        margin-left: 14px;
    }
    .typing{
        font-size: 12px;
    }
    .amount-detail {
        background: #f7f7f7!important;
        padding: 6px;
        font-size: 13px;
        border: 1px solid #d2d2d2;
        color: #424242;
    }
}
.messages{
    top: 1px;
    left: 0px;
    right: 2px;
    bottom: 170px;
}
.chat .timer-div span {
    font-weight: 300;
    font-size: 14px;
    padding-top: 2px;
}
