.currency{
    font-weight:bold;
    color:green;
}
.message-list{
    width:60%;
    text-align: left;
    word-break: break-word;
    white-space: pre-wrap;
}
.screen-name{
    font-size: 1.1rem;
    font-weight: 500;
    color: #764095;
}
.time{
    font-size: 0.7rem;
    font-weight: 500;
}
table {
    table-layout: fixed;
    word-wrap: break-word;
}