.client-home-page{

    .jumbotron {
        color: white;
        background: url("../../../../../static/homebg.jpg") no-repeat center center;
        height: 100%;
        background-size: cover;
    }
    .headers{
        text-align: center;
    }
    .topbar{
        border: 0!important;
    }
    .buttons{
        margin-right: 1.5rem !important;
        margin-left: 1.5rem !important;
        padding-left:2rem;
        padding-right:2rem;
        color:white;
        margin-top: 20px;
    }
    .transparent-button{
        background-color: transparent;
        border-color:white;
        
    }
    .transparent-button:hover{
        background-color:#ffffff4a;
    }
    .green-button{
        background-color: #7DAF3D;
        border-color:#7DAF3D;
    }
    .jumbotron{
        border-radius: 0;
        position: relative;
    }
}
.green-button:hover{
    background-color: #5d8628;
    border-color:#5d8628;
}
h5.headerh1.ml-auto.mr-auto {
    font-size: 30px;
    font-weight: 200!important;
    letter-spacing: 1px;
}
.home-points{
    text-align: center;
    margin: 50px 0;
    h2{
        width: 100%;
        font-weight: 400;
        margin: 40px 0;
    }
    h4{
        font-weight: 400;
    }
    i{
        font-size: 4em;
        color: #764095;
    }
    p {
        font-size: 16px;
        color: #5b5b5b;
    }
}
.j-inner {
    margin-bottom: 50px;
}

.mainh1 {
    margin-top: 110px;
    font-size: 60px;
    max-width: 609px;
    font-weight: 200;
}
h2.po{
    width: 100%;
    font-weight: 400;
    margin: 60px 0;
    text-align: center;
}
.view-more{
    border: 1px solid;
    margin: 40px auto;
    font-size: 18px;
    padding: 15px 33px;
}
.view-more:hover{
    background:#e6d8ef;
}
.free-min{
    padding: 7px 18px;
    margin: 0 auto;
    background: #46abd6;
    bottom: 0;
    position: absolute;
    left: 50%;
    margin-left: -113px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
}