.client-home-page 
{
  .topbar{
  .nav-link{
    color:white !important;
    font-weight: 400;
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
    font-size: 16px;
  }
}
}
// .client-home{
  .topbar{
    border-bottom:1px solid #f0f0f0!important;

    .nav-link{
      color:#565656 !important;
    }
    .active {
      color:#764095 !important;
      }
    .nav-link:hover{
      opacity: .5;
    }
  }
// }
