.review-div{
  .avt-image{
    width: 150px!important;
    height: 150px!important;
    object-fit: cover;
    border-radius: 100%;
    box-shadow: 1px 1px 13px #dedede;
  }
}

.review-div .screen-name{
  font-weight: 300;
  font-size: 17px;
  width: 100%;
  max-width: 268px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.screen-name span{
  font-weight: 600;
  color: #764098;
}
.text-send{
  textarea{
    width: 100%;
    padding: 15px;
    max-width: 500px;
  }
}
.purple-button{
  background: #764098;
  color:white;
}
.purple-button:hover{
  background: #4d2169;
}
.review-icons{
  margin:10px;
  margin-bottom:30px;
  .thumb-up{
    color: #fff;
    font-size: 26px;
    background: #65b365;
    cursor: pointer;
    padding: 13px 18px;
    opacity: .5;
  }
  .thumb-down{
    color: #fff;
    font-size: 26px;
    background: #a53f3d;
    cursor: pointer;
    padding: 13px 18px;
    opacity: .5;
  }
  .active{
    border-radius: 50%;
    opacity: 1;
  }
   .icon:hover, .icon:visited,.icon:active{
    border-radius: 50%;
    opacity: 1;
  }
}
button{
  background-color: transparent;
  border: none;
  outline:none;
}
button:focus{
  border: none;
  outline:none;
}

