.box{
    //margin: 1rem;
    //padding: .5rem;
    //background: #764095;
    //color:white;
    text-align: center;
    vertical-align: middle;
}
.title{
    font-size: 1.2rem;
    font-weight: 500;
}
.subtitle{
    font-size: 0.7rem;
}
.value{
    font-size: 2.5rem;
    font-weight: 500;
}
.circle {
    border:3px solid #764095;
    border-radius: 200px;
    color: #764095;
    height: 200px;
    font-weight: bold;
    width: 200px;
    display: table;
    margin: 20px auto;
}
.circle p {
    vertical-align: middle;
    display: table-cell;
}
.profile-image{
    min-width: 180px;
    width: 180px;
    border-radius: 100%;
    height: 180px;
    object-fit: cover;
    margin-left: 50%;
    left: -80px;
    position: absolute;
    box-shadow: 1px 1px 13px #dedede;
}
.propic{
    height: 220px;
}
.screen-name{
    font-size:1.5em;
    font-weight:500;
    color:#764095;
}
.profile-header-container{
    margin: 0 auto;
    text-align: center;
}

.profile-header-img {
    padding: 54px;
}

.image-circle {
    width: 200px;
    height: 200px;
    border: 2px solid #764098;
    border-radius: 50%;
}

.profile-header {
    margin-top: 43px;
}

/**
 * Ranking component
 */
.rank-label-container {
    margin-top: -19px;
    /* z-index: 1000; */
    text-align: center;
}

.label.label-default.rank-label {
    background-color: #764098;
    padding: 10px 30px;
    border-radius: 27px;
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
}