.Select--multi .Select-value-icon:active {
    background-color: transparent !important;
    color:black !important;
}
.Select-value-icon:focus, .Select--multi .Select-value-icon:hover {
    background-color:transparent !important;
    color: black !important;
}
.Select--multi .Select-value {
    background-color: transparent !important;
    border-radius: 0px; 
    border: 0px;
    color: #764095;
    font-weight: 500;
    margin-right:0.5rem;
}
.Select--multi .Select-value-label {
    border-bottom-right-radius: 0px; 
    border-top-right-radius: 0px; 
}
.Select--multi .Select-value-icon {
    border-right: 0px;
    color:black;
}
.Select-option {
    color: #764096;
    font-weight: 500;
    font-size:0.9em !important;
  }
  .Select-option.is-selected {
    background-color: #764095;
    /* Fallback color for IE 8 */
    background-color: rgba(118, 64, 149, 1);
    color: #FFF;
    font-size:0.9em;
  }
  .Select-option.is-focused {
    background-color: #764095;
    /* Fallback color for IE 8 */
    background-color: rgba(118, 64, 149, 1);
    color: #FFF;
    font-size:0.9em;
  }