.avtar-by-uid
{
	display: inline-block;
	&.loaded  {
		// opacity: 1;
		-webkit-animation: flash 2.5s;
		animation: flash 2.5s;
	}
}
@-webkit-keyframes flash {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
.reviews{
	.review-msg{
		color: #000000;
		font-weight: 200;
		font-size: 0.8em;
		font-style: italic;
	}
	.review-time{
		color: #43898a;
		font-size: .7em;
		font-weight: 400;
	}
	.review-from{
		color:#764095;
		font-weight: 500;
		font-size: 0.8em;
	}
	.thumb-up{
		.icon{
			color:#7cb95c !important;
		}
	}
	.thumb-down{
		.icon{
			color:red !important;
		}
	}
	
	
}
