.page-content{
  color:#595959;
  font-size:0.9em;
  font-weight:500;
}
.form-check-input{
  margin-top:0.2em;
  height:1.5em;
  width:1.5em;
}
.form-check{
  margin-bottom: 1em;
  .invalid-feedback{
      margin-left:-1.25rem;
  }
}
.fw-500{
  font-weight: 500;
}
.check-label{
  margin-left: 1em;
}
.registration-tos{
  height: 60vh; 
  overflow: auto; 
  padding: 10px;
}
.form-design{
  margin-top: 25px;
  margin-bottom: 25px;
  border: 0px;
  padding: 25px;
  
}
.form-div{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.send-button{
  padding-left:15px;
}
.contact-page{
  margin-top:2rem;
}
.contain{
  margin-top:3rem;
  display: table;
}
.lcol{
  display:inline-block;vertical-align:middle;
}
.company{
  font-size: 1.5rem;
  font-weight: 500;
  color:#1b0f50
}
.address1{
  margin-bottom: 0;
  font-size: 0.8rem;
}
.address{
  font-size: 0.8rem;
}
.email{
  color:#283247;
  font-weight:500;
  font-size: 0.8rem;
}
.emailid{
  color:#605b88;
  font-size: 0.8rem;
  text-decoration: underline;
  font-weight: 500;
}
.form-control
{
  font-size: 0.9rem;
}
.form-changepass {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}
