.modal-window{
    .purple-button{
        color:white;
        background: #764098;
        margin:1rem;
        font-weight:500;
    }
    .purple-button:hover{
        color:white;
    }
    .light-purple-button{
        color:#965CB8;
        background: #F2DBFF;
        margin:1rem;
        font-weight:500;
    }
    .reporting{
        margin:1rem;
    }
    .reporting-text{
        font-size: 0.8rem;
        padding:10px;
        border-radius: 10px;
        width:90%;
    }
    .member-since{
        color: #444;
        font-weight: 500;
        font-size: 0.8rem;
    }
    .member-since-time{
        color: #737373;
        font-weight: 500;
        font-size: .8rem;
    }
}
