.messages-list{
    .list-group-item{
        margin-top:5px;
        margin-bottom: 5px;
    }
    .msg{
        color:#333333 !important;
        font-size: 1.2em;
        font-weight: 500;
    }
    .by{
        color: #333333;
        font-weight: 500;
        font-size: 1em;
    }
    .date-time{
        color:#8e868b;
        font-size:0.7em;
        margin-top:5px;
        margin-bottom:5px;
    }
    .btn-sm{
        font-weight: 500;
    }
    .screen-name{
        font-weight: 500;
    }
    .grey-bg{
        height:500px;
        overflow-y:auto;
        padding:0;
        background:#fbfbfb;
    }
    .active{
        .card{
            border: 1px solid #cecece;
            border-right: 0;
            background: #ffffff;  
        }
        div{
            border-radius:0;
        }
    }
    .avt-image{
        max-width:50px;
    }
    .message-input{
        bottom:15px;
        border: 0;
        border-top: 1px solid #ccc;
        .wrap textarea{
            width: 95%!important;
            margin: 1rem;
            border:1px solid #ccc;
            padding: 1rem;
        }
        .wrap button{
            padding: 0.5rem !important;
            width: auto !important;
            margin-right: 2rem;
            .icon{
                font-size: .8rem !important;
                padding-right: 10px !important;
            }
        }
    
    }
    .lds-dual-ring{
        top:10%;
    }
    .avt-image{
        width:50px;
        height: 50px;
        object-fit: cover;
        border-radius:50%;
    }
    .card{
        align-items: center;
        background:transparent;
        border:0;
        padding:0.7rem;
    }
    .card-header{
        background: transparent !important;
        padding:0.5em;
    }
    .card-title{
        color: #2b2c33;
        font-weight: 500;
        margin-bottom:0;
        font-size: 0.9em;
    }
    .card-text{
        color:#8a8d91;
        font-size:0.8em;
        font-weight:200;
    }
    .font-weight-bold{
        font-weight: 700!important;
    }
    .hr-line{
        border-color:#fff;
    }
    .conversation{
        padding:0;
        height:500px;
        border:1px solid #ccc;
    }
    .ion-md-mic{
        color: blueviolet;
        font-size: 1.3rem;
    }
}
.messages-data ul {
    padding: 0;
    padding-top: 5px;
}