// Litera 4.1.1
// Bootswatch


// Variables ===================================================================

$web-font-path: "https://fonts.googleapis.com/css?family=Raleway:400,700" !default;
@import url($web-font-path);

// $font-family-serif:      Georgia, Cambria, "Times New Roman", Times, serif !default;

// Navbar ======================================================================

.navbar {
  font-size: 0.875em;
}

.bg-dark {
  background-color: $success !important;
}

.bg-light {
  background-color: #764095 !important;
  border: 1px solid rgba(0, 0, 0, 0.1);

  &.navbar-fixed-top {
    border-width: 0 0 1px 0;
  }

  &.navbar-fixed-bottom {
    border-width: 1px 0 0 0;
  }
}

// Buttons =====================================================================

.btn {
  
  // font-family: $font-family-sans-serif;
  font-size: 0.875em;

 

  &-sm {
    font-size: 0.688em;
  }

  &-secondary,
  &-secondary:hover,
  &-warning,
  &-warning:hover {
    color: $white;
  }
}

// Typography ==================================================================

p {
  // font-family: $font-family-serif;
}

blockquote {
  font-style: italic;
}

footer {
  font-size: 0.875em;
}

.lead {
  color: $gray-600;
  // font-family: $font-family-sans-serif;
}

// Tables ======================================================================

table,
.table {
  font-size: 0.875em;

  &-success,
  &-info,
  &-warning,
  &-danger {
    color: #fff;
  }
}

.table {

  &-success {
    &, > th, > td {
      background-color: $success;
    }
  }

  &-info {
    &, > th, > td {
      background-color: $info;
    }
  }

  &-danger {
    &, > th, > td {
      background-color: $danger;
    }
  }

  &-warning {
    &, > th, > td {
      background-color: $warning;
    }
  }

  &-hover {

    .table-success:hover {
      &, > th, > td {
        background-color: darken($success, 5%);
      }
    }

    .table-info:hover {
      &, > th, > td {
        background-color: darken($info, 5%);
      }
    }

    .table-danger:hover {
      &, > th, > td {
        background-color: darken($danger, 5%);
      }
    }

    .table-warning:hover {
      &, > th, > td {
        background-color: darken($warning, 5%);
      }
    }

  }
}

// Forms =======================================================================

// Navs ========================================================================

.nav,
.breadcrumb,
.pagination {
  font-size: 0.875em;
}

.dropdown-menu {
  font-size: 0.875em;
}

// Indicators ==================================================================

.alert {
  border: none;
  color: $white;
  font-size: 0.875em;

  &, p {
    // font-family: $font-family-sans-serif;
  }

  a, .alert-link {
    color: #fff;
    font-weight: normal;
    text-decoration: underline;
  }

  @each $color, $value in $theme-colors {
    &-#{$color} {
      background-color: $value;
    }
  }

  &-light {
    &,
    & a,
    & .alert-link {
      color: $body-color;
    }
  }
}

.badge {
  vertical-align: bottom;

  &-secondary,
  &-warning {
    color: $white;
  }
}

.tooltip {
  font-size: 11px;
}

// Progress bars ===============================================================

// Containers ==================================================================

.list-group {
  font-size: 0.875em;
}