.display-inherit{
    display: inherit;
}

.container{
    position: relative;
}


.form-panel {
  position: relative;
  padding: 1em 1em 1em;
  margin: 1.5rem 0 0;
}

thead{
    background-color: #764095;
    color:#fff;
}
.image-upload {
    border: 1px dashed #e0e0e0;
    padding: 18px;
}
.image-upload h6 {
    background: #7daf3d;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
    padding: 9px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 15px;
    font-size: 15px;
    margin-bottom: 0px;
}
.image-upload h6:hover{
    background:#9cd84f;
}
.sb-filter{
    width: 100%;
    text-align: center;
}

.how-it-works{
    hr {
        margin: 40px 0;
    }
    h3{
        font-weight: 300;
    }
    h5{
        font-weight: 500;
    }
    a{
        font-weight: 500;
    }
}
.navbar-light .navbar-nav a.nav-link{
    cursor: pointer;
}


.desktop-mode .no-desktop{
    display: none;
}


.hide-sumo .sumome-share-client-wrapper{
    display: none;
}

a[title*="Sumo"] {
    visibility:hidden;
}
