@import "variables";
.lds-dual-ring {
  width: 64px;
  height: 64px;
  position: relative;
  margin-top: 10%;
  left: 45%;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid $pink;
  border-color: $pink transparent $pink transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
