.psychic-profile{
    margin-top:1rem;
    .top{
        margin-top:1.5em;
        margin-bottom:1.5em;
    }
    .profile-image{
        min-width: 180px;
        width: 180px;
        border-radius: 100%;
        height: 180px;
        object-fit: cover;
        margin-left: 50%;
        left: -80px;
        position: absolute;
        box-shadow: 1px 1px 13px #dedede;
    }
    .propic{
        height: 220px;
    }
    .button{
        margin-right:1em;
        background: transparent;
        border:1px solid #D5D5D5;
        font-weight:500;
        color:#757575;
    }
    .button:hover{
        background:#efdada4f;
    }
    .icon{
        color:#ED94C1 !important;
        font-size:1.5em !important;
        vertical-align: sub;
    }
    .screen-name{
        font-size:1.5em;
        font-weight:500;
        color:#764095;
    }
    .intro{
        font-size:0.9em;
        font-weight: 500;
        color:#626262;
    }
    .large-thumb{
        color:#7cb95c !important;
    }
    .percentage{
        color:#764095;
        font-size: 2em;
        font-weight: 500;
    }
    .purple-text{
        color:#764095;
        font-size: 0.9em;
        font-weight: 500;
    }
    .review-text{
        color:#515151;
        font-size: 0.9em;
        font-weight: 500;
    }
    .green-button{
        color:white !important;
        background-color: #7DAF3D;
        border-color:#7DAF3D;
        .icon{
            color:white !important;
        }
    }

        .orange-button{
        color:white !important;
        background-color: #ED9D2B;
        border-color:#ED9D2B;
        .icon{
            color:white !important;
        }
        .message-button:hover {
            background: #ED9D2F !important;
        }
    }

    .green-button:hover{
        background-color: #5d8628;
        border-color:#5d8628;
    }
    .purple-button{
        color:white !important;
        background-color: #764095;
        border-color:#764095;
        .icon{
            color:white !important;
        }
    }
    .message-button:hover {
        background: #e6d8ef!important;
    }
    .grey-button{
        color:white !important;
        background-color: #BEBEBE;
        border-color:#BEBEBE;
        .icon{
            color:white !important;
        }
    }
    .message-button{
        color :#764095 !important;
        background-color: white;
        border-color:#764095 !important;
        .icon{
            color:#764095 !important;
        }
    }
    .fw-500{
        font-weight: 500;
        margin-top: 10px;
    }
    .card-compute{
        font-size :0.8rem;
    }
    .grey-text{
        color:#A3A3A3;
        font-weight:500;
    }
    .categories{
        font-size :0.9em;
        color:#764095;
        font-weight:500;
    }
    .title-text{
        color:#444444;
        font-weight: 500;
        font-size: 1.4em;
    }
    .content-text{
        color:#737373;
        font-weight: 500;
        font-size: 0.9em;
    }
    .aboutme{
        white-space: pre-line;
    }
}
