.dashboard{
    .dashmini h5 .icon{
        color:#764095!important;
    }
    .dashmini {
        margin: 44px 0;
        border-bottom: 1px solid rgba(0,0,0,.125);
        padding-bottom: 13px;
    }
    .psych-how h5{
        font-weight: 500;
        font-size: 15px;
    }
    .psych-how p{
        font-size: 14px;
        line-height: 18px;
    }
    .avt-image{
        width: 160px;
        border-radius: 100%;
        height: 160px;
        object-fit: cover;
        box-shadow: 1px 1px 13px #dedede;
    }
    .dashpic{
        text-align: center;
    }
    .dashcard{
        padding: 2rem;
        border-top: 1px solid #f0f0f0!important;
        border-radius: 5px;
        margin-bottom: 31px;
        border: 1px solid #2222;
    }
    .card{
        padding:2em;
        align-items: center;
    }
    .card-block {
        text-align: center;
    }
    .card-header{
        background: transparent !important;
    }
    .card-title{
        color: #3d3d3d;
        font-weight: 500;
        margin-bottom:0;
        font-size: 1.3em;
    }
    .card-text{
        color:#AFAFAF;
        font-size:0.8em;
        font-weight:500;
    }
    .icon{
        font-size: 1.2em !important;
        color:#ffffff !important;
    }
    .button{
        margin-right:1em;
        background: #545454;
        color: #ffffff;
        margin-bottom: 10px;
    }
    .button:hover{
        background:#2f2f2f;
    }
    .title{
        font-size: .9em;
        font-weight: 500;
        color: #616161;
    }
    .green-value{
        color:#45B244;
        font-size:1.5em;
        font-weight:300;
    }
    .blue-value{
        color:#4287D0;
        font-size:1.5em;
        font-weight:300;
    }
    .col-8{
        border-bottom:1px solid #c1c2c1;
        padding:1em;
    }
    .col-8:last-child{
        border: 0;
    }
    .review-title{
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-weight: 500;
        color: #787778;
    }
    .review-card{
        align-items:flex-start;
        .reviews{
            width:100%;
        }
    }
    .bold-link{
        font-weight: 700 !important;
        margin:.5 rem;
    }
    .alert-danger{
        margin-left: auto;
        margin-right: auto;
        position: relative !important;
        text-align:left;
        margin-bottom: 2rem;
        font-weight:400 !important;
    }
}
.not-verified{
    margin-top:10%;
    .icon{
        color: #764098 !important;
    }
}