$color_1: #7CB031;
$color_2: red;
$color_3: #fff;
$color_4: #d9b0f2;
$color_5: #656565;
$color_6: #a6a6a6;
$color_7: #32465a;
$color_8: #764095;
$color_9: #f5f5f5;
$background_color_1: rgba(0, 0, 0, 0.3);

.plusRate {
	color: $color_1;
}
.minusRate {
	color: $color_2;
}
.messages-data {
	height: auto;
	min-height: calc(100% - 222px);
	max-height: calc(100% - 222px);
	overflow-y: scroll;
	overflow-x: hidden;
	&::-webkit-scrollbar {
		width: 8px;
		background: transparent;
	}
	&::-webkit-scrollbar-thumb {
		background-color: $background_color_1;
	}
	ul {
		li {
			display: block;
			clear: both;
			float: left;
			margin: 5px;
			width: calc(100% - 25px);
			font-size: 0.9em;
			font-weight: 500;
			&:nth-last-child(1) {
				margin-bottom: 10px;
			}
			img {
				width: 50px;
				height:50px;
				object-fit: cover;
				border-radius: 50%;
				float: left;
			}
			.avtar-by-uid {
				display: initial;
			}
			.msg-content {
				display: inline-block;
				padding: 10px 15px;
				border-radius: 5px;
				max-width: 205px;
				line-height: 130%;
				min-width: 75%;
				white-space: pre-wrap;
			}
		}
		li.sent {
			img {
				margin: 6px 8px 0 0;
				margin-right:0;
			}
			.msg-content {
				color: #965cb8;
				font-weight: 400;
				white-space: pre-wrap;
			}
			.time-display {
				color: $color_4;
			}
		}
		li.sent-replies {
			img {
				//float: left;
				margin: 6px 8px 0 0;
				margin-right:0;
			}
			.msg-content {
				color: $color_5;
				font-weight: 200;
				font-size: 14px;
				white-space: pre-wrap;
			}
			.time-display {
				color: $color_6;
			}
		}
	}
	@media screen and (min-width: 735px) {
		.messages {
			ul {
				li {
					.msg-content {
						max-width: 91%;
						min-width: 91%;
						white-space: pre-wrap;
					}
				}
			}
		}
	}
	.message-input {
		position: absolute;
		bottom: 0;
		width: 100%;
		z-index: 99;
		border: 1px solid #ccc;
		border-bottom: 0;
		.wrap {
			position: relative;
			input {
				float: left;
				border: none;
				width: calc(100% - 90px);
				padding: 7px 32px 9px 8px;
				font-size: 0.8em;
				color: $color_7;
				&:focus {
					outline: none;
				}
			}
			textarea {
				float: left;
				border: none;
				width: 90%;
				padding: 5px;
				font-size: 0.8em;
				color: $color_7;
			}
			.attachment {
				position: absolute;
				right: 60px;
				z-index: 4;
				margin-top: 10px;
				font-size: 1.1em;
				color: $color_8;
				opacity: .5;
				cursor: pointer;
				&:hover {
					opacity: 1;
				}
			}
			button {
				float: right;
				border: none;
				width: 10%;
				padding: 22px;
				cursor: pointer;
				background: #764095;
				color: $color_9;
				&:hover {
					background: #764095;
				}
				&:focus {
					outline: none;
				}
			}
		}
	}
	.content {
		height: 100%;
		overflow: hidden;
		position: relative;
		.icon {
			font-size: 1.2em;
			padding: 0;
			margin: 0;
		}
	}
	.time-display {
		font-size: 0.6em;
		text-align: left;
		font-weight: bolder;
	}
	@media screen and (max-width: 735px) {
		.messages {
			max-height: calc(100% - 105px);
		}
		.message-input {
			.wrap {
				textarea {
					padding: 5px;
				}
				.attachment {
					margin-top: 17px;
					right: 65px;
				}
				button {
					padding: 16px 0;
				}
			}
		}
	}
	
	.system-message {
		color:#978f8f;
		.icon{
			color: grey;
			margin-right: 0.5rem;
			font-size: 1.5rem;
			vertical-align:sub;
		}
	}
	.avatar-button{
		background: transparent;
		border:none;
		outline:none;
		cursor:pointer;
		vertical-align: top;
	}	
}
