.psychic-card{
    margin-bottom: 25px;
    color:#5B5B5B !important;
    .avtar-by-uid{
        margin-left:auto;
        margin-right:auto;
        display: block;
    }
    .icon{
        color: grey !important;
        font-size: 1.5em !important;
    }
    .card-title{
        color:#764095 !important;
        font-weight: 500;
    }
    .green-button{
        color:white !important;
        background-color: #7DAF3D;
        border-color:#7DAF3D;
        .icon{
            color:white !important;
        }
        .message-button:hover {
            background: #e6d8ef!important;
        }
    }
    .orange-button{
        color:white !important;
        background-color: #ED9D2B;
        border-color:#ED9D2B;
        .icon{
            color:white !important;
        }
        .message-button:hover {
            background: #ED9D2F !important;
        }
    }
    .purple-button{
        color:white !important;
        background-color: #764095;
        border-color:#764095;
        min-width: 140px;
        .icon{
            color:white !important;
        }
    }
    .grey-button{
        color:white !important;
        background-color: #BEBEBE;
        border-color:#BEBEBE;
        .icon{
            color:white !important;
        }
    }
    .message-button{
        color :#764095 !important;
        background-color: white;
        border-color:#764095 !important;
        .icon{
            color:#764095 !important;
        }
    }
    .message-button:hover{
        background: #e6d8ef!important;
    }
    .about{
        margin-top:.5rem !important;
        height:100px;
        overflow: hidden;
        border-bottom: 1px solid #eaeaea;
        font-size:1rem;
    }
    .card-compute{
        font-size :0.8rem;
    }
    .fw-500{
        font-weight: 500;
        margin-top:11px;
    }
    .card-body{
        padding:0.25rem 1.25rem !important;
        margin-top:20px;
        margin-bottom: 20px;
    }
    .card{
        border: 1px solid #f0f0f0!important;
        width: 100%;
        box-shadow: 0px 0px 6px #f0f0f0;
        border-radius: 3%;
        
    }
    .heart-div{
        right: 11px;
        top: 10px;
        position: absolute;
        .pink-favorite{
            color:#ED94C1 !important;
        }
        .grey-favorite{
            color:#CCC !important;
        }
    }
    .heart-button{
        background: transparent;
        outline:none;
        border:none;
    }
    .card-text{
        color:#5B5B5B !important;
    }
    .card-image{
        width: 128px;
        border-radius: 100%;
        height: 128px;
        object-fit: cover;
        margin-top: .7rem;
        margin-left: 50%;
        left: -60px;
        position: absolute;
        box-shadow: rgb(118, 124, 128) 5px 3px 20px
    }
    .avtar-by-uid{
        height: 150px;
        margin-top: 30px;
    }
    .btn{
        .icon{
            font-size : 1.2em !important;
        }
    }
    
}
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}

.psychic-header-icon{
    font-size:70px;
    color:#764095;
}
.header-div{
    text-align: center;
}
.purple-text{
    font-weight:500;
}
.grey-text{
    color:#A3A3A3;
    font-weight:300;
}

.lds-dual-ring{
    top: 65%;
    }
.filter-div{
    padding: 0;
    .label{
        font-weight: 500;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 5px;
    }
    .icon{
        color:#FFF !important;
        font-size: 1rem;
    }
    .filter{
        padding: 1rem;
        border-top: 1px solid #f0f0f0!important;
        margin-top: 40px;
        background: #f7f7f7;
        border-radius: 4px;
        margin-bottom: 31px;
        border-bottom: 1px solid #2222;
    }

    .av-fav {
        text-align: center;
    }
    .av-fav .inner {
        margin: 0 auto;
        margin-bottom: -17px;
    }
    .select-box{
        display: flex;
        height: 35px;
        /*border-radius: 5px;
        border-color: #744691;
        color: #744691;*/
        font-weight: 500;
        font-size: 0.9rem;
        width: 300px;
        margin-left: 50%;
        left: -150px;
        position: relative;
    }
    .cat-filters .Select {
        margin-left: 50%;
        left: -150px;
        margin-top: 11px;
        width: 300px;
    }
    .Select-control{
        border:none;
        background: transparent;
    }
    .Select-control:hover{
        border:none;
        background: transparent;
    }
    .selected-cats {
        text-align: center;
    }
    .Select-placeholder {
        width: 300px;
        cursor: pointer;
    }
    .Select-arrow-zone{
        display: none;
    }
    .label-style{
        color: #fff;
        font-size: .9rem;
        background-color: #545454;
        padding: 0.4rem;
        border-radius: 5px;
        height:35px;
        margin-bottom: 0px;
        padding-left: 15px;
        width: 300px;
    }
    .Select--multi .Select-value-icon:active {
        background-color: transparent !important;
        color:black !important;
    }
    .Select-value-icon:focus, .Select--multi .Select-value-icon:hover {
        background-color:transparent !important;
        color: black !important;
    }
    .Select--multi .Select-value {
        background-color: transparent !important;
        border-radius: 0px; 
        border: 0px;
        color: #764095;
        font-weight: 500;
        margin-right:0.5rem;
    }
    .Select--multi .Select-value-label {
        border-bottom-right-radius: 0px; 
        border-top-right-radius: 0px; 
    }
    .Select--multi .Select-value-icon {
        border-right: 0px;
        color:black;
    }
    .Select-option {
        color: #764096;
        font-weight: 500;
        font-size:0.9em !important;
      }
      .Select-option.is-selected {
        background-color: #764095;
        /* Fallback color for IE 8 */
        background-color: rgba(118, 64, 149, 1);
        color: #FFF;
        font-size:0.9em;
      }
      .Select-option.is-focused {
        background-color: #764095;
        /* Fallback color for IE 8 */
        background-color: rgba(118, 64, 149, 1);
        color: #FFF;
        font-size:0.9em;
      }
      .filter-checkbox{
          margin:1rem;
      }
      .filter-checkbox-title{
        font-weight: 500;
        font-size: 0.9rem;
      }
    
    /* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
}

.placeholder{
     .Select-value{display: none;}
     .hide-input{
         width: 0; 
         height: 0; 
         background:none;
         border:none;
        }
}
.main-list .wide{
    width:-webkit-fill-available;
}


