.psychic-chat-request{    
    .purple-button{
        color:white;
        background: #764098;
        margin:1rem;
        font-weight:500;
    }
    .purple-button:hover{
        color:white;
    }
    .light-purple-button{
        color:#965CB8;
        background: #F2DBFF;
        margin:1rem;
        font-weight:500;
    }
    .avt-image{
        width: 100px;
        height:100px;
        object-fit: cover;
        border-radius:50%;
    }
}
.client-chat-request{
    .purple-button{
        color:white;
        background: #764098;
        margin:1rem;
        font-weight:500;
    }
    .purple-button:hover{
        color:white;
    }
    .light-purple-button{
        color:#965CB8;
        background: #F2DBFF;
        margin:1rem;
        font-weight:500;
    }
    .avt-image{
        width: 100px !important;
        height:100px !important;
        object-fit: cover;
        border-radius:50%;
    }
}
.text{
    font-weight: 500;
    margin:1rem;
}
.chat-container{
    .modal-dialog{
        max-width:1000px !important;
    }
}
.start-button{
    background: #884faa;
    height: 28px;
    padding-top: 2px;
    margin-left: 0.2rem;
    color: #fff;
    font-weight: 500;
}
.amount-detail{
    bottom: 75px !important;
    background: #f1f1f1 !important;
    padding: 1rem;
    border: 0;
    font-weight: 500;
    color: #9b9b9b;
}
.currency{
    color:#764098;
    
}