.top-navbar{
    .nav-link.active{
        //border : 1px solid #eee;
        color:#fff !important;
        font-weight:600;
    }
    .nav-link{
        color:#D2B2E4 !important;
        margin-left:5px;
        margin-right:5px;
        font-weight:500;
    }
    .nav-link:hover{
        color:#fff !important;
    }
}
.icon.ion-ios-home{
    font-size: 1.5em;
}
.icon{
    color:white;
    font-size: 17px;
    padding-right:5px;
}
.user-navigation{
    .nav-link{
        margin-left:5px;
        margin-right: 5px;
    }
    .icon{
        font-size: 1em;
    }
}
.default-navbar{
    .nav-link{
        margin-left:5px;
        margin-right: 5px;
    }
    .icon{
        font-size: 1em;
    }
}
.status-box{
    padding: 0px 19px;
    background: #925bb3;
    border-radius: 5px;
    select{
        background-color: #925bb3;
        color: #fff;
        -webkit-box-shadow: none;
        outline: 0 auto -webkit-focus-ring-color;
        border: 0;
    }
    select:focus {
        border-width:0px;
        background-color: #925bb3;
        color: #fff;
        border:none;
        -webkit-box-shadow: none;
        outline: -webkit-focus-ring-color auto 0px;
    }
    option{
        font-size: .875em !important;
    }
    .status-title{
        color: #dea8ea;
        padding-right: 1em;
        text-transform: uppercase;
        font-size: 11px;    
    }
}

.search-box{
    border-bottom: 1px solid #FFF;
    .search-bar{
        -webkit-box-shadow: none;
        outline: -webkit-focus-ring-color auto 0px;
        border-width:0px;
        color:#fff;
    }
    .search-icon{
        padding-top: 10px;
        color:white;
        font-size: 25px;
    }
    .form-inline:focus {
        border-width:0px;
      }
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: white;
        opacity: 1; /* Firefox */
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: white;
    }
    
    ::-ms-input-placeholder { /* Microsoft Edge */
        color: white;
    }

}
.profile-header{
    color:#d2b2e4;
    padding-bottom: 25px;
}
.how-works,.psychics{
    font-weight: bold;
}
.add-credits{
    padding:0px;
    cursor: pointer;
}

.admin-navbar{
    margin-top: 20px;
    margin-bottom: 20px;
}

.message-count{
   position: relative;
   top: -8px;
   left: 0px;
}
.badge{
    padding: .3rem 0.3rem;
    background-color: red;
    color:white;
}
.navbar-menu:hover .dropdown-menu{
    display: block;
}
.dropdown-item{
    cursor: pointer;
    
}

.dropdown-menu-right
{
    .nav-link
    {
        :hover{
            background: #764095 !important;
            color:#FFF !important;
        }
    }
    .nav-link.active{
        :hover{
            background: #764095;
            color:#FFF;
        }
    }
    :hover{
        background: transparent !important;
    }
        
    
}