$color_1: #7CB031;
$color_2: red;
$color_3: #fff;
$color_4: #d9b0f2;
$color_5: #656565;
$color_6: #a6a6a6;
$color_7: #32465a;
$color_8: #764095;
$color_9: #f5f5f5;
$background_color_1: rgba(0, 0, 0, 0.3);

.plusRate {
	color: $color_1;
}
.minusRate {
	color: $color_2;
}
.messages {
	height: auto;
	min-height: calc(100% - 125px);
	max-height: calc(100% - 125px);
	overflow-y: scroll;
	overflow-x: hidden;
	&::-webkit-scrollbar {
		width: 8px;
		background: transparent;
	}
	&::-webkit-scrollbar-thumb {
		background-color: $background_color_1;
	}
	ul {
		li {
			display: block;
			clear: both;
			float: left;
			margin: 5px;
			width: calc(100% - 25px);
			font-size: 0.9em;
			font-weight: 500;
			&:nth-last-child(1) {
				margin-bottom: 10px;
			}
			img {
				width: 50px;
				height:50px;
				object-fit: cover;
				border-radius: 50%;
				float: left;
			}
			.avtar-by-uid {
				display: initial;
			}
			.msg-content {
				display: inline-block;
				padding: 10px 15px;
				border-radius: 20px;
				max-width: 205px;
				line-height: 130%;
				min-width: 200px;
				word-wrap:break-word;
				white-space: pre-wrap;
				.audio-style{
					width: 270px;
				}
			}
		}
		li.sent {
			img {
				margin: 6px 8px 0 0;
			}
			.msg-content {
				background: #965cb8;
				color: $color_3;
				word-wrap:break-word;
				white-space: pre-wrap;
			}
			.time-display {
				color: $color_4;
			}
		}
		li.replies {
			img {
				float: right;
				margin: 6px 0 0 8px;
			}
			.msg-content {
				background: #eee;
				float: right;
				color: $color_5;
				word-wrap:break-word;
				white-space: pre-wrap;
			}
			.time-display {
				color: $color_6;
			}
		}
	}
}
.message-input {
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 99;
	border: 1px solid #ccc;
	border-bottom: 0;
	.wrap {
		position: relative;
		input {
			float: left;
			border: none;
			width: calc(100% - 90px);
			padding: 7px 32px 9px 8px;
			font-size: 0.8em;
			color: $color_7;
			&:focus {
				outline: none;
			}
		}
		textarea {
			float: left;
			border: none;
			width: 88%;
			padding: 5px;
			font-size: 0.8em;
			color: $color_7;
			background:#fff;
		}
		.attachment {
			position: absolute;
			right: 60px;
			z-index: 4;
			margin-top: 10px;
			font-size: 1.1em;
			color: $color_8;
			opacity: .5;
			cursor: pointer;
			&:hover {
				opacity: 1;
			}
		}
		button {
			float: right;
			width: 6%;
			border: .1px solid #fff;
			padding: 6px;
			cursor: pointer;
			background: #fff;
			color: #764098;
			&:focus {
				outline: none;
			}
		}
	}
}
.content {
	height: 100%;
	overflow: hidden;
	position: relative;
	.icon {
		font-size: 2.3em;
		padding: 0;
		margin: 0;
		color: #764098;
	}
}
.time-display {
	font-size: 0.6em;
	text-align: right;
	font-weight: bolder;
}
@media screen and (max-width: 735px) {
	.messages {
		max-height: calc(100% - 105px);
	}
	.message-input {
		.ion-ios-mic {
			font-size: 1.35em;
		}
		.wrap {
			textarea {
				padding: 5px;
				height: 72px;
			}
			.attachment {
				margin-top: 17px;
				right: 65px;
			}
			button {
				padding: 16px 0;
				height: 72px;
				border: .1px solid #fff;
			}
		}
	}
}
@media screen and (min-width: 735px) {
	.messages {
		ul {
			li {
				.msg-content {
					max-width: 300px;
					min-width: 200px;
					word-wrap:break-word;
					white-space: pre-wrap;
				}
			}
		}
	}
}
.system-message {
	color:#978f8f;
	.icon{
		color: grey;
		margin-right: 0.5rem;
		font-size: 1.5rem;
		vertical-align:sub;
	}
}
.avatar-button{
	background: transparent;
	border:none;
	outline:none;
	cursor:pointer;
	vertical-align: top;
}