.form-check-input{
    margin-top:0.2em;
    height:1.5em;
    width:1.5em;
}
.form-check{
    margin-bottom: 1em;
    .invalid-feedback{
        margin-left:-1.25rem;
    }
}
.fw-500{
    font-weight: 500;
}
.check-label{
    margin-left: 1em;
}