.footer1 {
    background-color: #F6F6F6;
	padding-top: 40px;
	padding-right: 0;
	margin-top:40px;
	padding-left: 0;/*	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: #003;*/
}

.title-widget {
	color: #727272;
	font-weight: bold;
	line-height: 1;
	position: relative;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 25px;
	margin-left: 0;
}

.icon{
    border-radius: 50%;
	margin: 0.15em;
	font-size: 3em;
}

.twitter{
    background: #5baec8;
    color: #f6f6f6;
    padding: 0.5em 0.5em;
    display: inline-block;
    line-height: 1;
    font-size:25px;
}

.facebook{
    background: #3b5a99;
    color: #f6f6f6;
    padding: 0.5em 0.6em;
    display: inline-block;
    line-height: 1;
    font-size:25px;
}

.instagram{
    background: #5380A4;
    color: #f6f6f6;
    padding: 0.5em 0.6em;
    display: inline-block;
    line-height: 1;
    font-size:25px;
}

.widget_nav_menu ul {
    list-style: outside none none;
    padding-left: 0;
}

.widget_archive ul li {
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 3px;
}

.widget_nav_menu ul li {
    padding-bottom: 3px;
}

.widget_nav_menu ul li a{
    color:#A9A9A9 !important;
}

.footer-column{
    display: flex;
    align-items: center;
}

.footer-logo{
    width:101px;
}

.nomargin { 
    margin:0px; 
    padding:0px;
}