.large-modal
{
    max-width:1000px !important;
    max-height: 500px !important;
    overflow-y: initial !important;
    .modal-body{
        height: 500px;
        overflow-y:scroll; 
    }
}

.system-message{
    color: lightgray;
    font-weight: 500;
}
.msg{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #f0f0f0;
    padding: 1rem;
}
.screen-name{
    font-weight: 500;
    margin-right: 1rem;
}
.msg-time{
    font-size: 0.8rem;
    color:grey;
}
.msg-container{
    padding-bottom: 0.3rem;
}